# pytz
# pyOpenSSL
# requests
# pyOpenSSL
# ndg-httpsclient
# pyasn1
# pymysql
# celery
# flower
# apache-airflow
# redis
# kubernetes
# Flask-WTF==0.14
# click
# statsd
# boto3
# psycopg2



apache-airflow[amazon,celery,http,postgres,redis,virtualenv]==2.0.0
Flask-Admin
